h1{
    text-align: center;
    background-color: antiquewhite;
}
h3{
    text-align: center;
    background-color: antiquewhite;
}
#myform {
    text-align: center;
    background-color: antiquewhite;
    color: blueviolet;
}
#form2 {
    text-align: center;
    background-color: antiquewhite;
    color: blueviolet;
}